* {
  box-sizing: border-box;
}

body {
  background-color: #34495e;
  color: #fff;
  margin: 0;
  font-family: 'Source Sans Pro', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1, h2, h3, i {
  text-align: center;
  display: block;
}

h2 {
  font-size: 40px;
  font-weight: 600;
}

p {
  font-size: 22px;
  line-height: 2;
  text-align: center;
  font-weight: 600;
}

button {
  border: 0;
  color: #fff;
  padding: 10px 40px;
  font-family: 'Source Sans Pro', sans-serif;
  outline: 0;
  background-color: transparent;
  cursor: pointer;
  font-size: 22px;
  &:hover {
    text-decoration: underline;
  }
}

.app {
  display: flex;
  justify-content: center;
  min-height: 100vh;
}
